<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <typeAliases>
        <typeAlias type="mc.sn.KEPL.VO.ArticleVO" alias="ArticleVO"/>        
        <typeAlias type="mc.sn.KEPL.VO.ReplyVO" alias="ReplyVO" />
        <typeAlias type="mc.sn.KEPL.VO.UserVO" alias="UserVO" />
    </typeAliases>


</configuration>
